BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

PointerAlignment: Left
ReferenceAlignment: Left

AlignOperands: true
AlignTrailingComments: true

SortIncludes: true

Cpp11BracedListStyle: true
Standard: c++20
